APP_NAME=Bank Service
APP_ENV=development
APP_DEBUG=true
APP_HOST=0.0.0.0
APP_PORT=8081

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=banco_union
MYSQL_USER=root
MYSQL_PASSWORD=root123

ASFI_API_URL=http://localhost:8090
BCB_API_URL=http://localhost:8082
REQUEST_TIMEOUT=30
LOG_LEVEL=INFO