# --- Entornos Virtuales ---
venv/
.venv/
env/
bin/
lib/
share/
Include/

# --- Python Cache & Compiled ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# --- Variables de Entorno (SEGURIDAD) ---
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# --- Editores y Sistema ---
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

# --- Datos del Proyecto (Ignorar archivos pesados o temporales) ---
data/processed/*.csv
data/raw/*.csv
!data/processed/.gitkeep
!data/raw/.gitkeep

# --- Neo4j & Docker Temporals ---
docker/neo4j/data/
docker/mysql/data/